.post-card .primary .content {
  -webkit-mask-image: linear-gradient(black 175px, transparent 250px);
  mask-image: linear-gradient(black 175px, transparent 250px);
}

.post-card .secondary .title {
  -webkit-mask-image: linear-gradient(black 70px, transparent 125px);
  mask-image: linear-gradient(black 70px, transparent 125px);
}

html {
  overflow-y: scroll;
}

.image-section {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
